{
  "arrowParens": "always",
  "printWidth": 100,
  "overrides": [
    {
      "files": ["*/.md", "*/.css", "*/.html", "*/.svg"],
      "options": {
        "singleQuote": false
      }
    }
  ],
  "quoteProps": "consistent",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.ts"
}
